include LICENSE
include README.md
include How_To_Use/*.ipynb
include tests/pytest.ini
include tests/*.py
include tests/*_test/*.py
include src/plotastic/py.typed
include src/plotastic/dataanalysis/py.typed
include src/plotastic/example_data/data/*xlsx