exclude \
    src/plotastic/.vscode/*.json \

include \
    # LICENSE \
#     README.md \
#     How_To_Use/*.ipynb \
#     tests/pytest.ini \
#     tests/*.py \
#     tests/*_test/*.py \
#     src/plotastic/py.typed \
#     src/plotastic/dataanalysis/py.typed \
#     src/plotastic/example_data/data/*.xlsx