"""RULES:
- Gather all dependencies you stumble across during development here!
- To be used by parse_requirements.py
    - Commented and empty lines are removed
- Not to be used by pip
- Python version must be first element
"""

### Python version
# * Used only by setup.py
python>=3.11

### Data manipulation
numpy
# ! pingouin Not working with pandas 2.0 yet
pandas==1.5.3 

### Plotting
matplotlib
seaborn

### Statistics
scipy
# * statannot is superseded by statannotations
# statannot 
statannotations
pingouin
# statsmodels

### Utility
joblib
pyperclip
# * For custom colour maps
colour 
# * For saving results to excel
xlsxwriter
# * For getting the filename of the current notebook
#"ipynbname", 